{% extends "layout.html" %}
{% block body %}
  <div class="container">
  <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <h1>Search your network!</h1>
      <p>Enter a name, a company or a position and let us show you how to get there</p>
      <!-- Search input -->
      <div class="row">
        <div class="col-lg-8">
          <div class="input-group">
            <input type="text" class="form-control">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Go!</button>
            </span>
          </div><!-- /input-group -->
        </div><!-- /.col-lg-8 -->
      </div><!-- /.row -->


  <!-- how thumbnails will show up -->
  <table class="table">
  <tbody>
  <th> Article for sale </th>
  <tr>
   <td>
   <div class="row"><div class = "col-sm-9">
    <div class="row">
      <!-- each picture shows up in this element of class thumbnail -->
      <div class ="col-sm-9">
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img src={{ url_for('static', filename='img/test.jpg') }} alt="testimage">
        </a>
      </div>
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img src={{ url_for('static', filename='img/test.jpg') }} alt="testimage">
        </a>
      </div>
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img src={{ url_for('static', filename='img/test.jpg') }} alt="testimage">
        </a>
      </div>

    </div>
    </div>
    </div></div>
    </td>
    </tr>
    <tr>
     <td>contact info</td>
    </tr>
    </tbody>
    </table>

    </div> <!-- jumbotron -->

  </div><!-- /.container -->

{% endblock %}

